body{
    background-color: rgb(116, 157, 158);
    padding: 50px;
}

.container {
    width: 100%;
    white-space: nowrap;
    padding: 20px;
}

.col-sm{
    padding: 5px;
}

.navbar-brand{
    padding: 20px;
}

footer{
    background-color: blue;
}